{
  "presets": ["env", "stage-1", "react", "mobx"],
  "ignore": [
    "node_modules",
    "/js/**"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}