{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": true
    },
    "globals": {
        "localStorage":true,
        "window": true,
        "document": true,
        "React": true,
        "PropTypes": true,
        "RouterPropTypes": true
    },
    "extends": [
        "airbnb"
    ],
    "rules": {
        "max-len": [
            "error",
            120
        ],
        "semi": [
            "error",
            "never"
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "no-underscore-dangle": "off",
        "react/prefer-stateless-function": "off",
        "react/no-multi-comp": "off",
        "no-param-reassign": 0,
        "react/prop-types":0,
        "react/destructuring-assignment":0
    },
    "plugins": [
        "import"
    ]
}